* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #352b23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pokemon, #commentary {
    display: block;
}

#arena {
    display: none;
}

// Gameboy

// @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@font-face {
    font-family: Pretendo;
    src: url(../fonts/Pretendo.ttf);
}

@font-face {
    font-family: Mukata;
    src: url(../fonts/Mukta-Regular.ttf);
}

@font-face {
    font-family: Gill Sans;
    src: url('../fonts/Gill\ Sans\ Medium\ Italic.otf');
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play-Bold.ttf);
}

$light-grey: #c8cfd4;
$dark-grey: #616568;
$green: #5b7c2f;
$black: #1f1f1f;
$blue: #0b1b96;
$pink: #be2670;
$red: #ff0000;
$dark-red: #4e0000;


#gameboy,
#around-screen {
    border-radius: 25px 25px 80px;
}

#gameboy {
    background-color: $light-grey;
    height: 840px;
    width: 500px;
}

/////////////// BOX 1 ///////////////
#box-1 {
    color: $light-grey;
    display: flex;
    font-family: Mukata;
    font-size: 15px;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;

    #around-screen {
        align-items: center;
        background-color: $dark-grey;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 340px;
        width: 440px;

        #header {
            align-items: center;
            display: flex;
            grid-column-start: 1;
            grid-column-end: 3;
            justify-content: space-between;

            .borders {
                border-top: solid 3px $pink;
                border-bottom: solid 3px $blue;
                height: 15px;
            }

            .borders:nth-of-type(1) {
                margin-left: 20px;
                width: 110px;
            }

            .borders:nth-of-type(2) {
                margin-right: 20px;
                width: 50px;
            }
        }

        #left-screen {
            margin-bottom: 100px;
            margin-left: 17px;

            #light {
                background-color: $dark-red;
                border-radius: 50px;
                height: 13px;
                margin-left: 15px;
                width: 13px;
            }

        }

        #screen {
            background-color: $green;
            border: solid 3px $black;
            height: 250px;
            margin-bottom: 30px;
            margin-right: 80px;
            width: 270px;
        }
    }
}

#logo {
    margin-left: 35px;

    #nintendo,
    #game-boy,
    #tm {
        color: $blue;
    }

    #nintendo {
        font-family: Pretendo;
        font-size: 20px;
    }

    #game-boy {
        font-family: Gill Sans;
        font-size: 40px;
        text-transform: uppercase;
    }

    #tm {
        font-family: Mukata;
        font-size: 15px;
    }
}

/////////////// BOX 2 ///////////////
#box-2 {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    #d-pad {
        align-items: center;
        display: flex;
        height: 130px;
        justify-content: center;
        position: relative;
        width: 130px;

        #rec-x,
        #rec-y {
            border-radius: 5px;
        }

        #rec-x {
            background-color: $black;
            height: 45px;
            position: absolute;
            width: 130px;
        }

        #rec-y {
            background-color: $black;
            height: 130px;
            position: absolute;
            width: 45px;
        }
    }

    #buttons {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 70px;
        transform: rotate(-25deg);
        width: 140px;

        .btn-circ {
            background-color: $pink;
            border-radius: 50px;
            height: 55px;
            width: 55px;
        }

        #b-btn,
        #a-btn {
            color: $blue;
            font-family: Play;
            font-size: 20px;
            margin: 5px auto;
        }
    }
}

/////////////// BOX 3 ///////////////
#box-3 {
    display: flex;
    height: 130px;
    justify-content: center;
    margin-top: 60px;
    position: relative;

    #select-start {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 60px;
        position: absolute;
        width: 190px;

        .btn-rect {
            background-color: $dark-grey;
            border-radius: 15px;
            height: 18px;
            transform: rotate(-25deg);
            width: 60px;
        }

        #select,
        #start {
            color: $blue;
            font-family: Play;
            font-size: 18px;
            margin: 5px auto;
            transform: rotate(-25deg);
        }
    }

    #speaker {
        display: flex;
        justify-content: space-between;
        position: absolute;
        transform: rotate(-25deg);
        width: 150px;
        top: 40px;
        right: 30px;

        .line {
            border: solid 2px $dark-grey;
            border-radius: 15px;
            height: 80px;
            width: 13px;
        }
    }
}